ul#menu {
    padding: 1px;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: green;
    height:40px;
    vertical-align:center;
    color: white;
    padding: 4px 25px;
    text-decoration: none;
    text-align:none;
    font-family:Sans-serif;
    border-radius: 9px 9px 9px 9px;
}
ul#menu li a:hover {
    background-color: #73AD21;
    height: 40px;
}

#border{
    background-color:green;
    background-size:100% 100%;
    color:white;
    clear:both;
    text-align:none;
    height: 45px;
    padding:0.1px;
    border-radius:9px;
}
#loginContainer {
    position:relative;
    float:right
font-size:12px;
}
.userLogin {
    width: 85px;
    height: 51px;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}
body {
    background-color: #555555;
}
.mainDiv{
    margin-left:5%;
    margin-right:4%;
}
#img{
    text-align: left;
}
.header{
    background-color: white;
    background-image: url(../images/LOGO1.PNG);
    background-repeat:no-repeat;
    color:white;
    clear:both;
    text-align:none;
    height: 98px;
    width:905px
    padding:0.1px;
    border-radius:9px;
}
.opo{
    background-color: white;
    background-repeat:no-repeat;
    color:white;
    clear:both;
    text-align:none;
    height: 98px;
    width:905px
    padding:0.1px;
    border-radius:9px;
}

.bg{
    background-color: white;
    background-image: url(../images/home.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    color:white;
    clear:both;
    text-align:none;
    height: 500px;
    width:905px
    padding:0.1px;
    border-radius:9px;
}
.footer{
    background-color:white;
    color: #999999;
    font-family: verdana;
    font-size: 9px;
    font-weight: bold;
    line-height: 28px;
    height: 40px;
    padding:0.1px;
    border-radius:9px;
}
.footerleft span {
    color: #999999;
    font-family: verdana;
    font-size: 9px;
    font-weight: bold;
    line-height: 28px;
}