Hi ${user.firstName} ${user.lastName}, <br/>

You have been registered Successfully in Rajavolu. Your login details are :<br/>
UserName : ${user.emailId} <br/>
Password : ${user.password}

- The Rajavolu Team




